server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/odour?characterEncoding=utf-8&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: 1999331
    driver-class-name: com.mysql.cj.jdbc.Driver

logging:
  level:
   com.bjfu.li.odour.mapper : debug
#  resources:
#    static-locations: classpath:/templates/,classpath:/static/img/
#  mvc:
#    static-path-pattern: /**

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: is_deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

# pagehelper
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql


# 文件上传目录
localImgPath: E:\GitHub\Beijing Forestry University\odour\src\main\resources\static\
# 上传的服务器上的映射文件夹
networkImgPath: /static/
# 静态资源对外暴露的访问路径
staticAccessPath: /static/**


rawFileDir: C:/Users/li/Desktop/nginx/resource/download/
teamNewsDir: C:/Users/li/Desktop/nginx/resource/static/news/