<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.li.odour.mapper.CompoundMapper">

    <resultMap id="CompoundRiMap" type="com.bjfu.li.odour.po.Compound">
        <id column="id" property="id"/>
        <result column="compound_name" property="compoundName" />
        <result column="synonym" property="synonym"/>
        <result column="cas_no" property="casNo"/>
        <result column="chemical_structure" property="chemicalStructure"/>
        <result column="mass_spectrogram" property="massSpectrogram"/>
        <result column="mass_spectrogram_Nist" property="massSpectrogramNist"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="uploader" property="uploader"/>
        <result column="reviewer" property="reviewer"/>


        <collection property="riList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.Ri">
            <id column="rid" property="id"/>
            <result column="compound_ri" property="compoundRi"/>
            <result column="chromatographic_column" property="chromatographicColumn"/>
            <result column="ri_resource" property="riResource"/>
            <result column="ri_compound_id" property="compoundId"/>
        </collection>

        <collection property="nriList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.Nri">
            <id column="nrid" property="id"/>
            <result column="compound_nri" property="compoundNri"/>
            <result column="nri_chromatographic_column" property="chromatographicColumn"/>
            <result column="nri_resource" property="nriResource"/>
            <result column="nri_compound_id" property="compoundId"/>
        </collection>

        <collection property="otList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.OdourThreshold">
            <id column="otrid" property="id"/>
            <result column="ot_odour_threshold" property="odourThreshold" />
            <result column="ot_odour_base" property="odourBase"/>
            <result column="ot_odour_threshold_reference" property="odourThresholdReference"/>
            <result column="ot_compound_id" property="compoundId"/>
        </collection>

        <collection property="odList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.OdourDescription">
            <id column="odrid" property="id"/>
            <result column="od_odour_description" property="odourDescription"/>
            <result column="od_odour_description_reference" property="odourDescriptionReference"/>
            <result column="od_compound_id" property="compoundId"/>
        </collection>


        <collection property="mrList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.Measured">
            <id column="mrid" property="id"/>
            <result column="measured" property="measured"/>
            <result column="relative_abundance" property="relativeAbundance"/>
            <result column="high_compound_id" property="compoundId"/>
        </collection>

        <collection property="lowmrList" javaType="ArrayList" ofType="com.bjfu.li.odour.po.LowMeasured">
            <id column="lmrid" property="id"/>
            <result column="low_measured" property="measured"/>
            <result column="low_relative_abundance" property="relativeAbundance"/>
            <result column="low_compound_id" property="compoundId"/>
        </collection>
    </resultMap>
    <select id="selectOne" resultMap="CompoundRiMap">
        SELECT c.*
        FROM compound AS c
        WHERE c.id=#{id};
    </select>
    <select id="selectAll" resultMap="CompoundRiMap">
        SELECT * FROM compound WHERE is_deleted = 0
    </select>
    <select id="dynamicSelect" resultMap="CompoundRiMap">
        SELECT * FROM compound compound
        <where>
            <foreach collection="list" index="index" item="searchVo" open=" " separator=" " close=" ">
                <if test="searchVo.searchRule == 'equal'">
                    AND ${searchVo.searchProperty} = #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'large'">
                    AND ${searchVo.searchProperty} &gt; #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'small'">
                    AND ${searchVo.searchProperty} &lt; #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'like'">
                    AND ${searchVo.searchProperty} like concat("%", #{searchVo.searchValue}, "%")
                </if>
            </foreach>
        </where>
    </select>
    <select id="selectByOdourDescription" resultMap="CompoundRiMap" >
        SELECT * FROM compound compound
        LEFT JOIN odour_description od ON od.compound_id = compound.id
        WHERE od.odour_description like "%"#{description}"%" AND compound.is_deleted = 0
    </select>
    <select id="selectByOdourThreshold" resultMap="CompoundRiMap" >
        SELECT * FROM compound compound
        LEFT JOIN odour_threshold ot ON ot.compound_id = compound.id
        WHERE ot.odour_threshold between #{low} and #{high} AND compound.is_deleted = 0
    </select>
    <select id="selectByRi" resultMap="CompoundRiMap" >
        SELECT * FROM compound compound
        LEFT JOIN ri ri ON ri.compound_id = compound.id
        WHERE ri.compound_ri between #{low} and #{high} AND compound.is_deleted = 0
    </select>
    <select id="selectByNri" resultMap="CompoundRiMap" >
        SELECT * FROM compound compound
        LEFT JOIN nri nri ON nri.compound_id = compound.id
        WHERE nri.compound_ri between #{low} and #{high} AND compound.is_deleted = 0
    </select>
    <select id="selectByMeasured" resultMap="CompoundRiMap">
        SELECT * FROM compound compound
        LEFT JOIN measured measured ON measured.compound_id = compound.id
        WHERE measured.measured between #{low} and #{high} AND compound.is_deleted = 0
    </select>
    <select id="selectByLowMeasured" resultMap="CompoundRiMap">
        SELECT * FROM compound compound
        LEFT JOIN low_measured low_measured ON low_measured.compound_id = compound.id
        WHERE low_measured.measured between #{low} and #{high} AND compound.is_deleted = 0
    </select>
    <select id="selectByProduct" resultMap="CompoundRiMap">
        SELECT * FROM compound compound
        LEFT JOIN product_key pk ON pk.compound_id = compound.id
        LEFT JOIN product product ON product.id = pk.product_id
        WHERE product.product_name like "%"#{product}"%"  AND compound.is_deleted = 0
    </select>
</mapper>
