<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.li.odour.mapper.OdourThresholdMapper">
    <resultMap type="com.bjfu.li.odour.po.OdourThreshold" id="otMap">
        <id property="id" column="id"/>
        <result property="odourThreshold" column="odour_threshold"/>
        <result property="odourBase" column="odour_base"/>
        <result property="compoundId" column="compound_id"/>
        <result property="articleId" column="article_id"/>
        <result property="articleName" column="article_name"/>
    </resultMap>
    <select id="selectByCompoundId" resultMap="otMap">
        SELECT ot.*, article.name as article_name
        FROM odour_threshold ot
        LEFT JOIN article
        ON ot.article_id = article.pk
        WHERE ot.compound_id = #{id}
    </select>

    <select id="getThresholdBase" resultType="java.lang.String">
        SELECT DISTINCT ot.odour_base
        FROM odour_threshold ot
        WHERE ot.odour_base IS NOT NULL
    </select>
    <select id="getFunctionBase" resultType="java.lang.String">
        SELECT DISTINCT oif.odour_base
        FROM odour_intensity_function oif
        WHERE oif.odour_base IS NOT NULL
    </select>
</mapper>


