<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.li.odour.mapper.ProductMapper">

    <resultMap id="ProductMap" type="com.bjfu.li.odour.po.Product">
        <id column="id" property="id"/>
        <result column="product_name" property="productName"/>
        <result column="product_description" property="productDescription"/>
        <result column="product_picture" property="productPicture"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="selectAll" resultMap="ProductMap">
        SELECT *
        FROM product
    </select>
    <select id="selectTop" resultMap="ProductMap">
        SELECT *
        FROM product
        ORDER BY update_time DESC
        LIMIT #{num}
    </select>
    <select id="dynamicSelect" resultType="com.bjfu.li.odour.po.Product">
        SELECT * FROM product
        <where>
            <foreach collection="list" index="index" item="searchVo" open=" " separator=" " close=" ">
                <if test="searchVo.searchRule == 'equal'">
                    AND ${searchVo.searchProperty} = #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'large'">
                    AND ${searchVo.searchProperty} &gt; #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'small'">
                    AND ${searchVo.searchProperty} &lt; #{searchVo.searchValue}
                </if>
                <if test="searchVo.searchRule == 'like'">
                    AND ${searchVo.searchProperty} like concat("%", #{searchVo.searchValue}, "%")
                </if>
            </foreach>
        </where>
    </select>
    <select id="selectCompound" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
        WHERE product.id = ${productId}
          AND ${searchProperty} like CONCAT('%', #{searchValue}, '%')
    </select>
    <select id="selectCompoundByOdourDescription" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN odour_description od on c.id = od.compound_id
        WHERE product.id = #{productId}
          AND od.odour_description LIKE CONCAT('%', #{odourDescription}, '%')
          AND c.is_deleted = 0
    </select>
    <select id="selectCompoundByOdourThreshold" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN odour_threshold ot on c.id = ot.compound_id
        WHERE product.id = #{productId}
          AND ot.odour_threshold between #{low} and #{high}
          AND c.is_deleted = 0
    </select>
    <select id="selectCompoundByRi" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN ri r on c.id = r.compound_id
        WHERE product.id = #{productId}
          AND r.compound_ri between #{low} and #{high}
          AND c.is_deleted = 0
    </select>
    <select id="selectCompoundByNri" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN nri r on c.id = r.compound_id
        WHERE product.id = #{productId}
          AND r.compound_nri between #{low} and #{high}
          AND c.is_deleted = 0
    </select>
    <select id="selectCompoundByMeasured" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN measured m on c.id = m.compound_id
        WHERE product.id = #{productId}
          AND m.measured between #{low} and #{high}
          AND c.is_deleted = 0
    </select>
    <select id="selectCompoundByLowMeasured" resultType="com.bjfu.li.odour.po.Compound">
        SELECT c.*
        FROM product
                 LEFT JOIN product_key pk ON product.id = pk.product_id
                 LEFT JOIN compound c on c.id = pk.compound_id
                 LEFT JOIN low_measured lm on c.id = lm.compound_id
        WHERE product.id = #{productId}
          AND lm.measured between #{low} and #{high}
          AND c.is_deleted = 0
    </select>

</mapper>
